@import url( slkscrb.ttf );
@font-face {
  font-family: "robo";
  src: url("slkscrb.ttf") format("truetype");
  font-weight: 400;
}
body{
  background-color: black;
  font-family: Arial, sans-serif;
}
#body {
  margin: 20px;
}
table {
  width: 100%;
  font-family: "robo";
  border-collapse: collapse;
}
th, td {
  background-color: #ddd;
  border: 1px solid #000000;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}
.header{
  word-spacing: 1px;
  background-color: rgb(30, 30, 30);
  border: 5px solid rgb(30, 30, 30);
}

.hb{
  width: auto;
  background-color: rgb(122, 122, 122);
  font-family: 'Roboto Mono', monospace;
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hb:hover {
  background-color: rgb(84, 241, 84); 
  transform: scale(1.1);
}

h1{
  text-align: center;
  font-family: "robo";
  color: #ddd;
}